.ability {
  position: relative;
  cursor: pointer;
}

.ability .ability-tooltip {
  visibility: hidden;
  padding: 20px;
  border-radius: 10px;
  background-color: grey;
  position: absolute;
  bottom: 30px;
  z-index: 1;
  display: table-cell;
  vertical-align: center;
  width: 350px;
  margin-left: 20%;
  color: white;
}

.ability:hover .ability-tooltip {
  visibility: visible;
}
