.form {
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  padding: 10px;
}

.form.selected {
  border-color: blue;
  background-color: #a9a9a9;
}

.sprite {
  height: 70px;
  width: 70px;
}
