.modal-type {
    width: 20%;
}

.extra-damage .extra-damage-tooltip {
    visibility: hidden;
    padding: 10px;
    border-radius: 10px;
    background-color: grey;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    display: table-cell;
    vertical-align: center; 
}

.extra-damage {
    margin-left: 10px;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:0px; 
    border-radius: 50%;
    background-color: grey;
    vertical-align: middle;
    position: relative;
}

.extra-damage:hover .extra-damage-tooltip {
    visibility: visible;
}