.pokemodal {
  width: 1050px;
  max-width: 90%;
  min-width: 415px; /* Needs to fit sprite */
  margin-top: 30px;
}

.stats-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flex-item {
  /*max-width: 100%;*/
}
