.sprite-border {
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
}

.primary {
  width: 380px;
  height:380px;
}

.secondary {
  width: 360px;
  height: 360px;
  transform: translateY(7px);
}

.single-type-img {
  transform: translateY(12px);
}

.modal-sprite {
  max-height: 350px;
  max-width: 350px;
}
