.sprite-border {
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
}

.primary {
  width: 380px;
  height: 380px;
}

.secondary {
  width: 360px;
  height: 360px;
  transform: translateY(7px);
}

.single-type-img {
  /* Inner border for dual types takes care of translation */
  transform: translateY(12px);
}

.modal-sprite {
  height: 350px;
  width: 350px;
}
