.statcontainer {
  display: flex;
  flex-direction: column;
  max-width: 110%;
}

.statgraph {
  height: 200px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  max-width: 100%;
}

.statnames {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  max-width: 100%;
}

.statname {
  width: 11%;
  font-size: 11px;
}

.stattitle {
  float: left;
}
