.statcontainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.statgraph {
  height: 200px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}

.statnames {
  display: flex;
  justify-content: space-evenly;
}

.statname {
  width: 10%;
  margin: 0, 5%, 0, 5%;
}

.stattitle {
  float: left;
}
