.type {
  margin: 3px;
}

/* Colors taken from https://bulbapedia.bulbagarden.net/wiki/Type */
.bug {
  background-color: #A8B820;
}

.electric {
  background-color: #F8D030;
}

.dark {
  background-color: #705848;
}

.dragon {
  background-color: #7038F8;
}

.fairy {
  background-color: #EE99AC;
}

.fighting {
  background-color: #C03028;
}

.fire {
  background-color: #f08030;
}

.flying {
  background-color: #A890F0;
}

.ghost {
  background-color: #705898;
}

.grass {
  background-color: #78C850;
}

.ground {
  background-color: #E0C068;
}

.ice {
  background-color: #98D8D8;
}

.normal {
  background-color: #a8a878;
}

.poison {
  background-color: #A040A0;
}

.psychic {
  background-color: #F85888;
}

.rock {
  background-color: #B8A038;
}

.steel {
  background-color: #B8B8D0;
}

.water {
  background-color: #6890F0;
}
