.type {
  margin: 3px;
}

/* Colors taken from https://bulbapedia.bulbagarden.net/wiki/Type */
.bug {
  background-color: #A8B820;
}

.electric {
  background-color: #F8D030;
}

.dark {
  background-color: #705848;
}

.dragon {
  background-color: #7038F8;
}

.fairy {
  background-color: #EE99AC;
}

.fighting {
  background-color: #C03028;
}

.fire {
  background-color: #f08030;
}

.flying {
  background-color: #A890F0;
}

.ghost {
  background-color: #705898;
}

.grass {
  background-color: #78C850;
}

.ground {
  background-color: #E0C068;
}

.ice {
  background-color: #98D8D8;
}

.normal {
  background-color: #a8a878;
}

.poison {
  background-color: #A040A0;
}

.psychic {
  background-color: #F85888;
}

.rock {
  background-color: #B8A038;
}

.steel {
  background-color: #B8B8D0;
}

.water {
  background-color: #6890F0;
}

.bug-border {
  color: #A8B820;
}

.electric-border {
  color: #F8D030;
}

.dark-border {
  color: #705848;
}

.dragon-border {
  color: #7038F8;
}

.fairy-border {
  color: #EE99AC;
}

.fighting-border {
  color: #C03028;
}

.fire-border {
  color: #f08030;
}

.flying-border {
  color: #A890F0;
}

.ghost-border {
  color: #705898;
}

.grass-border {
  color: #78C850;
}

.ground-border {
  color: #E0C068;
}

.ice-border {
  color: #98D8D8;
}

.normal-border {
  color: #a8a878;
}

.poison-border {
  color: #A040A0;
}

.psychic-border {
  color: #F85888;
}

.rock-border {
  color: #B8A038;
}

.steel-border {
  color: #B8B8D0;
}

.water-border {
  color: #6890F0;
}

.modal-type {
  width: 20%;
}

.extra-damage .extra-damage-tooltip {
  visibility: hidden;
  padding: 20px;
  border-radius: 10px;
  background-color: grey;
  position: absolute;
  bottom: 50px;
  z-index: 1;
  display: table-cell;
  vertical-align: center; 
}

.extra-damage {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50%;
  background-color: grey;
  vertical-align: sub;
  line-height: 0;
  position: relative;
}

.extra-damage:hover .extra-damage-tooltip {
  visibility: visible;
}