.main {
  margin: 20px;
}

.card-container {
  width: 100%;
  max-width: 1300px; /* 4 cards with some spacing */
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
