/*From https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link*/
.show-error-button {
     background: none ! important;
     color: inherit;
     border: none;
     font: inherit;
     text-decoration: underline;
     cursor: pointer;
}
